* {
    font-family: Helvetica, sans-serif;
}

.container {
    min-height: 100vh;
}

#mainContainer {

}

#logosContainer {
    max-width: 90vw;
    max-height: 50%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
}

.logoElement {
    flex: 1 1 content;
}

#aboutMeContainer {

}

#projectsContainer {

}
